<div class="container px-0 px-sm-2 h-100">
  <h3 class="py-2 text-secondary">Поиск книг</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="" aria-label="Recipient's username"
           [(ngModel)]="userName" (ngModelChange)="search(userName)">
  </div>
  <div *ngIf="response">
    <div class="border mb-1 rounded bg-white shadow" *ngFor="let book of response; let i=index">
      <div class="row mx-0 p-1">
        <div *ngIf="book.volumeInfo.imageLinks.thumbnail; then thenBlock else elseBlock"
             class="col-4 col-sm-2 p-1"></div>
        <ng-template #thenBlock>
          <img class="img-fluid border border-secondary h-min rounded" src={{book.volumeInfo.imageLinks.thumbnail}}>
        </ng-template>
        <ng-template #elseBlock>
          <img class="img-fluid border border-secondary h-min rounded" src="/googlebooks/images/no_cover_thumb.gif">
        </ng-template>
        <div class="col px-2 py-1">
            <span class="row h5 d-inline-block align-items-baseline mx-0">
              <span>{{book.volumeInfo.title}}</span>
              <span *ngIf="book.volumeInfo.subtitle">: {{book.volumeInfo.subtitle}}</span>
            </span>
          <div class="font-weight-light">
            <p> {{book.volumeInfo.authors}}</p>
          </div>

          <div class="row mx-0">
            <p *ngIf='book.volumeInfo.publisher'>{{book.volumeInfo.publisher}}</p>
            <p class="pr-1" *ngIf='book.volumeInfo.publisher && book.volumeInfo.publishedDate'>, </p>
            <p *ngIf='book.volumeInfo.publishedDate'>{{book.volumeInfo.publishedDate | date:"MMM y"}}</p>
          </div>

        </div>
      </div>
      <div *ngIf="book.volumeInfo.description">
        <div class="mx-2 book-description font-italic pb-2">
          <p>{{book.volumeInfo.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

